body{
    margin: 0;
}

h2 {
    
    text-align: center;
    color: #EA6267;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    margin-bottom: 50px;
}



.menu {
    position: fixed;
    top: 0;
    width: 100%;
    
    transition: 0.7s;
}
.menu img{
    width: 150px;
    margin-left: 15px;

}
.cabecera{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 70px ;
    
}


.cabecera nav ul li a{

    text-decoration: none;
    color: #e51b23;
}

.cabecera nav ul li a:hover{

    color: #e9bebf;
}


.cabecera nav ul li{
    
    list-style-type: none;
    display: inline-block;
    margin: 0px 10px 0 10px ;

}



.cabecera2 nav ul li a{

    color: #ffffff;

}

.menu2 {

    background-color: #e51b23;
    border-bottom: 2px solid #ffffff;;

}

.header {
    height: 98vh;
    color: #ffffff;
    margin-bottom: 10vh;
    background-image: url(img/fondo.gif);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.header h1 {
    font-size: 8rem;
    color: #EA6267;
    padding-top: 30vh;
    margin-top: 0;
    margin-bottom: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header h3 {

    color: #ad8080;
}




.contenedor {

    display: flex;
    margin-top: 30px;

}

.inicio {

    display: flex;
    width: 70vw;
    height: 85vh;
    margin: 5px auto;
    
}

.inicio-imagen img{

   width: 400px;
   margin-right: 50px; 
}

.inicio-texto{
 margin: 0 auto;
 width: 40%;

}

.card {
    display: inline-block;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
    width: 25%;
  }

  .card a{

    text-decoration: none;
    color: #000000;

  }
  
  .card:hover {
    box-shadow: 0 16px 24px 0 rgba(0,0,0,0.2);
    width: 27%;
  }

  
  .container {
    padding: 2px 16px;
  }

  .formulario{
    margin: 5% auto;
    height: 80vh;
    width: 20vw;
    
  }

  input {

    margin: 5px;
    border: #EA6267 solid 1px;
    padding: 10px;
    width: 90%;
    font-size: 15px;
  }

  select {
    margin: 5px;
    border: #EA6267 solid 1px;
  }

  textarea {
    margin: 5px;
    border: #EA6267 solid 1px;
  }

  label{
    margin: 5px;
  }

  .tabla{
    padding: 2%;
    width: 45%;
    display: inline-block;

  }

  table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 35%;
    display: inline-block;
    margin: 0 auto;

}
  

   td, th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  tr:nth-child(even){background-color: #f2f2f2;}

   tr:hover {background-color: #ddd;}

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #EA6267;
    color: white;
  }

  .footer{
    margin-top: 5%;
    width: 100%;
    height: 20vh;
    background-color: #e51b23;
  }

  .footer p{
    color: #ffffff;
    text-align: center;
  }

  .btn {
    display: block;
    width: 150px;
    height: 40px;
    outline: none;
    border: 1px solid #EA6267;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    color: #EA6267;
    cursor: pointer;
    margin: 50px auto;
    transition: all .25s;
    z-index: 1;
    position: relative;
    text-transform: uppercase;

}

.btn:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    border-radius: 6px;
    background-image: linear-gradient(to right, rgb(255, 255, 255), #EA6267 );
    transition: all .25s;
    z-index: -1;
}

.btn:hover {
    border: 1px solid transparent;
    color:rgb(255, 255, 255)
}

.btn:hover::before{
    height: 100%;
}

.tabla-padre{
    display: inline-block;
    margin: 0 0 0 5%
}